*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(250, 228, 250);
    font-family: 'Heebo';
}

#main-wrapper{
    height: 100px;
    
     
}

.grid {
    display: flex;
    max-width: 40%;
    outline: none;
    border: none;
    margin: 150px auto;
    border-radius: 25px;
    overflow: hidden;

    .gridOne{
        img{
            max-width: 100%;
            object-fit: cover;
            border-radius: inherit;
            height: 100%;
        }
    }

    .gridTwo{
        padding: 20px;
        background-color: white;

        .number{
            color: rgb(12, 95, 48);
            font-size: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .ash{
            color: gray;
        }

        h2{
            padding: 20px 0;
            font-size: 40px;
            font-weight: 800;
        }

        p{
            line-height: 1.2;
            padding-bottom: 20px;
        }

        .small{
            font-size: 18px;
            text-decoration: line-through;
        }

        button{
            padding: 20px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgb(12, 95, 48);
            width: 100%;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}


/* 
#main-wrapper .grid{
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    width: 900px;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    background-color:whitesmoke;
    border-radius: 25px;
} 
.medium-wrapper{
    padding: 10px;
    margin-left: 20px;
}

#main-wrapper h3{
    font: 30px bold;
    opacity: 0.6;
    margin-bottom: -20px;
}
#main-wrapper h2{
    font: 60px bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.medium-wrapper p{
    font: 30px light;
    opacity: 0.7;
}
.number{
    font: 50px bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(12, 95, 48);
    border-bottom: 10px;
}
span{
    font: 25px bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    color: rgb(12, 95, 48);
}
.number input{
    font: 30px bolder;
    color: white;
    size: 60px;
    background-color: rgb(12, 95, 48);
    margin-top: 30px;
    padding: 10px;
    border: 2px solid;
    margin-left: 10px;
    border-radius: 15px;
    width: 350px;    
} */
